In [46]:
import numpy as np  #importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [47]:
df=pd.read_csv('regression_train.csv') # reading data
df.shape  # checking shape of data

(10000, 11)

In [48]:
df.head()

,data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,output
0,8,279,C,14.451155,1139.0,1.0,9.302908,1.0,M,p,86.108947
1,1,108,H,14.207448,1656.0,1.0,7.220130,0.0,M,p,42.606833
2,8,258,A,19.220830,2817.0,1.0,8.727214,1.0,M,p,85.625961
3,4,147,A,15.752732,1948.0,1.0,6.078818,1.0,M,p,53.656277
4,5,230,H,10.195407,1336.0,1.0,4.749185,0.0,M,p,64.925051

In [49]:
df.isnull().sum()

data1     0
data2     0
data3     0
data4     0
data5     1
data6     3
data7     2
data8     1
data9     1
data10    1
output    1
dtype: int64

In [50]:
df=df.dropna(axis=0, how='any', inplace=False)  #dropping null value

In [51]:
df.isnull().sum()

data1     0
data2     0
data3     0
data4     0
data5     0
data6     0
data7     0
data8     0
data9     0
data10    0
output    0
dtype: int64

In [52]:
df.dtypes

data1       int64
data2       int64
data3      object
data4     float64
data5     float64
data6     float64
data7     float64
data8     float64
data9      object
data10     object
output    float64
dtype: object

In [53]:
data3=pd.get_dummies(df['data3'],drop_first=True) # encoding data as we need all the values in intiger format 
data10=pd.get_dummies(df['data10'],drop_first=True) 
data9=pd.get_dummies(df['data9'],drop_first=True)

In [54]:
df=df.drop('data3',axis=1)# dropping the column
df=df.drop('data10',axis=1)
df=df.drop('data9',axis=1)

In [55]:
df=pd.concat([df,data3],axis=1)# concating the columns to main data set
df=pd.concat([df,data10],axis=1)
df=pd.concat([df,data9],axis=1)

In [56]:
df.dtypes

data1       int64
data2       int64
data4     float64
data5     float64
data6     float64
data7     float64
data8     float64
output    float64
B           uint8
C           uint8
D           uint8
E           uint8
F           uint8
G           uint8
H           uint8
M           uint8
dtype: object

In [57]:
df.corr()

,data1,data2,data4,data5,data6,data7,data8,output,B,C,D,E,F,G,H,M
data1,1.000000,0.008367,0.007462,-0.022798,-0.002956,-0.000312,-0.008111,0.185512,-0.000813,0.000549,-0.011895,0.003610,0.004558,0.007070,-0.001145,-0.001271
data2,0.008367,1.000000,0.019126,0.017404,0.010093,-0.013187,0.013590,0.867934,0.007189,-0.000638,-0.003649,0.007119,-0.015495,0.013855,-0.005277,0.019609
data4,0.007462,0.019126,1.000000,0.006372,0.000550,0.018160,-0.003601,0.406264,-0.005489,0.004984,-0.006298,0.027902,0.000890,-0.009527,0.008272,-0.000090
data5,-0.022798,0.017404,0.006372,1.000000,0.005740,0.009529,0.009352,0.015382,0.005663,-0.002651,0.002800,-0.024639,-0.013664,0.014481,0.011810,0.006661
data6,-0.002956,0.010093,0.000550,0.005740,1.000000,-0.020063,-0.001605,-0.009857,0.004762,0.001321,0.000717,-0.011572,0.010389,-0.013538,-0.011003,0.816456
data7,-0.000312,-0.013187,0.018160,0.009529,-0.020063,1.000000,-0.009449,0.212525,-0.001038,0.016689,-0.003519,0.005366,-0.003937,-0.006412,-0.004887,-0.017324
data8,-0.008111,0.013590,-0.003601,0.009352,-0.001605,-0.009449,1.000000,0.008164,-0.010930,0.011965,-0.002159,0.004212,-0.009621,0.004122,-0.008019,-0.000003
output,0.185512,0.867934,0.406264,0.015382,-0.009857,0.212525,0.008164,1.000000,-0.000436,0.005659,-0.008661,0.019838,-0.011748,0.009585,-0.001794,-0.003252
B,-0.000813,0.007189,-0.005489,0.005663,0.004762,-0.001038,-0.010930,-0.000436,1.000000,-0.138607,-0.138607,-0.139929,-0.138355,-0.137659,-0.139426,0.004901
C,0.000549,-0.000638,0.004984,-0.002651,0.001321,0.016689,0.011965,0.005659,-0.138607,1.000000,-0.143691,-0.145061,-0.143429,-0.142708,-0.144540,0.008348
D,-0.011895,-0.003649,-0.006298,0.002800,0.000717,-0.003519,-0.002159,-0.008661,-0.138607,-0.143691,1.000000,-0.145061,-0.143429,-0.142708,-0.144540,-0.008901
E,0.003610,0.007119,0.027902,-0.024639,-0.011572,0.005366,0.004212,0.019838,-0.139929,-0.145061,-0.145061,1.000000,-0.144797,-0.144069,-0.145919,-0.005534
F,0.004558,-0.015495,0.000890,-0.013664,0.010389,-0.003937,-0.009621,-0.011748,-0.138355,-0.143429,-0.143429,-0.144797,1.000000,-0.142448,-0.144277,0.011690
G,0.007070,0.013855,-0.009527,0.014481,-0.013538,-0.006412,0.004122,0.009585,-0.137659,-0.142708,-0.142708,-0.144069,-0.142448,1.000000,-0.143551,-0.017617
H,-0.001145,-0.005277,0.008272,0.011810,-0.011003,-0.004887,-0.008019,-0.001794,-0.139426,-0.144540,-0.144540,-0.145919,-0.144277,-0.143551,1.000000,-0.015485
M,-0.001271,0.019609,-0.000090,0.006661,0.816456,-0.017324,-0.000003,-0.003252,0.004901,0.008348,-0.008901,-0.005534,0.011690,-0.017617,-0.015485,1.000000

In [80]:
x=df
y=df.iloc[:,-9]
x

,data1,data2,data4,data5,data6,data7,data8,output,B,C,D,E,F,G,H,M
0,8,279,14.451155,1139.0,1.0,9.302908,1.0,86.108947,0,1,0,0,0,0,0,1
1,1,108,14.207448,1656.0,1.0,7.220130,0.0,42.606833,0,0,0,0,0,0,1,1
2,8,258,19.220830,2817.0,1.0,8.727214,1.0,85.625961,0,0,0,0,0,0,0,1
3,4,147,15.752732,1948.0,1.0,6.078818,1.0,53.656277,0,0,0,0,0,0,0,1
4,5,230,10.195407,1336.0,1.0,4.749185,0.0,64.925051,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9,263,16.604215,1070.0,0.0,8.979149,2.0,85.922943,0,0,0,0,0,0,0,0
9996,5,280,28.758911,2652.0,0.0,3.574129,0.0,90.857149,0,0,0,1,0,0,0,0
9997,6,188,15.963267,1359.0,0.0,2.880019,0.0,61.246960,0,0,1,0,0,0,0,0
9998,1,132,11.683401,1793.0,0.0,6.983192,2.0,45.298253,0,0,0,0,0,0,1,0
9999,5,264,21.176115,1792.0,0.0,8.276101,2.0,85.534604,0,0,0,0,0,0,0,0

In [76]:
y

0       86.108947
1       42.606833
2       85.625961
3       53.656277
4       64.925051
          ...
9995    85.922943
9996    90.857149
9997    61.246960
9998    45.298253
9999    85.534604
Name: output, Length: 9997, dtype: float64

In [81]:
x=x.drop('output',axis=1)
x

,data1,data2,data4,data5,data6,data7,data8,B,C,D,E,F,G,H,M
0,8,279,14.451155,1139.0,1.0,9.302908,1.0,0,1,0,0,0,0,0,1
1,1,108,14.207448,1656.0,1.0,7.220130,0.0,0,0,0,0,0,0,1,1
2,8,258,19.220830,2817.0,1.0,8.727214,1.0,0,0,0,0,0,0,0,1
3,4,147,15.752732,1948.0,1.0,6.078818,1.0,0,0,0,0,0,0,0,1
4,5,230,10.195407,1336.0,1.0,4.749185,0.0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9,263,16.604215,1070.0,0.0,8.979149,2.0,0,0,0,0,0,0,0,0
9996,5,280,28.758911,2652.0,0.0,3.574129,0.0,0,0,0,1,0,0,0,0
9997,6,188,15.963267,1359.0,0.0,2.880019,0.0,0,0,1,0,0,0,0,0
9998,1,132,11.683401,1793.0,0.0,6.983192,2.0,0,0,0,0,0,0,1,0
9999,5,264,21.176115,1792.0,0.0,8.276101,2.0,0,0,0,0,0,0,0,0

In [82]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [83]:
from sklearn.linear_model import LinearRegression
multiple=LinearRegression()
multiple.fit(x_train,y_train)

LinearRegression()

In [84]:
y_pred=multiple.predict(x_test)
y_pred

array([71.91402669, 61.90869032, 93.53506613, ..., 70.2476425 ,
       87.69552026, 48.01960634])

In [86]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [94]:
score

0.9872237440634923